body{
    font-family: 'Galatea', sans-serif;
    background-color: rgb(249, 248, 243);
    display:block
}

/* .fp-tableCell {
 display: flex;
 align-items: center;
 justify-content: center;
} */

#s1{
    border: 1px solid red;
    height: 100vh;
     display: flex;
   justify-content: center;
   align-items: center;
    
}

#s2{
    
    background-color: white;
     border: 1px solid red;
     height:100vh;
      display: flex;
   justify-content: center;
   align-items: center;
}

#s3{
    
    background-color: white;
     border: 1px solid red;
     height:100vh;
      display: flex;
   justify-content: center;
   align-items: center;
}

#s4{
    
    background-color: white;
     border: 1px solid red;
     height:100vh;
      display: flex;
   justify-content: center;
   align-items: center;
}

#s5{
    
    background-color: white;
     border: 1px solid red;
     height:100vh;
      display: flex;
   justify-content: center;
   align-items: center;
}

#responsive-canvas {
  width: 100%;
}



#sectionHeader1{
    font-size:7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}
    

#sectionHeader2{
    font-weight: 200;
}
#sectionHeader3{font-weight: 200;}
#sectionHeader4{font-weight: 200;}
#sectionHeader5 {
    font-weight: 200;
    text-align:center
}

.nav-link{
    color:black
}


.navbar-toggler{
    display: flex;
    
}

#name{
    font-size: 7vw ;
    /* font-weight: normal; */
    margin-left: 5vw;
    letter-spacing: 4.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textContainer1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 22vw
   
}

#initials{

    height: 7vw;
    width: 7vw;
}

.animate__animated.animate__fadeInDown{
--animate-duration: 2s;
}

.animate__animated.animate__fadeInUp{
--animate-duration: 2s;
}